<!DOCTYPE html>
<html ng-app="directives">
  <head>
    <meta charset="utf-8">
    <title>  Busines Specific  </title>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="styles/styles.css" />
      <link rel="stylesheet" href="styles/transclude.css" />
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
      <script type="text/javascript" src="bower_components/angular/angular.js"> </script>
      <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  </head>

  <body class="container"  >
      <div ng-controller="TransCludeController as vm">
        <display-box>
            <div>This is content inside</div>
            <ul>
              <li>Item 2</li>
            </ul>
            <div> {{vm.message}} </div>
        </display-box>

        <h2>Questions</h2>
          {{ vm.baseLocation }}
          <my-question q="Which angular version youre coding?">
            <input type="text" ng-model="vm.answers.baseVersion" >
          </my-question>

          <my-question q="Are you following best paractices?">
              <input type="radio" value="true" ng-model="vm.answers.bestpractices"> Yes
              <input type="radio" value="false" ng-model="vm.answers.bestpractices"> No
          </my-question>00          <my-question q="Do you code in TDD?">
              <button class="btn btn-primary" value="true" ng-model="vm.answers.ttd">Yes</button>
              <button class="btn btn-danger" value="false" ng-model="vm.answers.ttd">No</button>
          </my-question>

        <pre>{{ vm | json }}</pre>

      </div>

      <!-- module -->
      <script type="text/javascript" src="modules/directives.module.js"> </script>

      <!-- controller -->
      <script type="text/javascript" src="controllers/transclude.controller.js"> </script>

      <!-- directives -->
      <script type="text/javascript" src="directives/displayBox.directive.js"> </script>
      <script type="text/javascript" src="directives/myQuestion.directive.js"> </script>

 </body>

</html>
